absl-py==0.9.0
certifi==2019.11.28
flake8==3.7.9
Flask==1.1.1
html5lib==1.0.1
ipython==7.12.0
ipython-genutils==0.2.0
joblib==0.14.1
json5==0.9.1
jsonify==0.5
jupyter==1.0.0
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
tornado==6.0.3
tqdm==4.42.1
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.0
xlrd==1.2.0
